.slide-1 {
    display: inline-flex;
    position: relative;
    min-width: 1024px;
    width: 1024px;
    height: 768px;
    background: center / cover no-repeat url(../../../../images/backgrounds/bg.jpg);
}

.slide-one__text {
    position: absolute;
    text-transform: uppercase;
    top: 161px;
    left: 68px;
    letter-spacing: 1px;
    font-size: 29px;
}

.btn--slide-one {
    position: relative;
    top: -5px;
    font-weight: 600;
    margin-left: 37px;

    & img {
        margin-right: 13px;
        width: 59px;
    }
}

.slide-one__title {
    position: absolute;
    top: 215px;
    left: 67px;
    font-family: Gilroy Light;
    font-size: 110px;
    line-height: 112px;
    letter-spacing: 5px;
    font-weight: 100;
    color: rgb(23, 23, 23);
    text-transform: uppercase;
    z-index: 1;

    & span {
        font-family: Gilroy Extrabold;
    }
}