.slider {
    width: 1024px;
    height: 768px;
    margin: auto;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.slide {
    position: relative
}

.btn {
    display: inline-flex;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    vertical-align: middle;
    height: 83px;
    background-color: #ff6a9f;
    border-radius: 50px;
    border: none;
    font-size: 26px;
    line-height: 30px;
    cursor: pointer;
}